.app-header {
  width: 100%;
  position: fixed;
  z-index: 1000;
  background: #1D1B20;

  .mobile {
    display: none;
    align-items: center;
  }

  .spacer {
    flex: 1 1 auto;
  }

  .mat-toolbar {
    display: flex !important;
    justify-content: space-between;

    background: #1D1B20;
    color: #FFF;

    margin: 0 auto;
    max-width: 1048px;
    width: 90%;

    .mat-mdc-outlined-button:not(:disabled) {
      border-color: #FFF;
    }

    button {
      margin: 0 8px;
    }
  }
}

@media (max-width: 700px) {
  .app-header {

    mat-toolbar {
      position: relative;
      align-items: start;
      height: 76px;
      padding: 16px 0;

      .mat-mdc-button {
        height: 24px;
      }

      .mobile {
        display: flex !important;
        margin-top: 10px;
      }

      .navbar {
        display: none;
        flex-direction: column;
        gap: 16px;
        width: 100%;
        position: absolute;
        top: 28%;
        &.display-flex {
          display: flex;
          height: 274px;
        }
      }
    }
  }
}
