<header class="app-header">
  <mat-toolbar>
    <img src="assets/imagens/logo.png" alt="Logo da aplicação Jornada milhas">
    <nav class="mobile">
      <mat-icon class="menu-mobile" (click)="openDialog()">menu</mat-icon>
    </nav>
    <nav class="navbar">
      <button mat-button>Vender milhas</button>
      <button mat-button>Sobre</button>
      <button mat-raised-button color="primary">CADASTRE-SE</button>
      <button mat-stroked-button>LOGIN</button>
    </nav>
  </mat-toolbar>
</header>
