<app-banner
  src="assets/imagens/banner2-homepage.png"
  alt="Banner da aplicação Jornada"
></app-banner>
<app-container>
  <app-form-busca></app-form-busca>
  <h2>Promoções</h2>
  <div class="card-wrapper">
    <app-card-busca></app-card-busca>
    <app-card-busca></app-card-busca>
    <app-card-busca></app-card-busca>
    <app-card-busca></app-card-busca>
    <app-card-busca></app-card-busca>
    <app-card-busca></app-card-busca>
  </div>
  <h2>Depoimentos</h2>
  <div class="card-wrapper">
    <app-card-depoimentos></app-card-depoimentos>
    <app-card-depoimentos></app-card-depoimentos>
    <app-card-depoimentos></app-card-depoimentos>
  </div>
</app-container>
