<app-banner
  src="assets/imagens/banner2-homepage.png"
  alt="Banner da aplicação Jornada"
></app-banner>
<app-container>
  <app-form-busca></app-form-busca>
  <h2>Promoções</h2>
  <div class="card-wrapper">
    <app-card-busca *ngFor="let item of promocoes" [promocao]="item"></app-card-busca>
  </div>
  <h2>Depoimentos</h2>
  <div class="card-wrapper">
    <app-card-depoimentos
      imagem="../../assets/imagens/Avatar1.png"
      depoimento="A Jornada foi uma das melhores agências de viagens que eu já experimentei. O serviço ao cliente foi excepcional, e toda a equipe foi muito atenciosa e prestativa."
      nome="Lauro Matos"
    >
    </app-card-depoimentos>
    <app-card-depoimentos
      imagem="../../assets/imagens/Avatar2.png"
      depoimento="Recomendo fortemente a agência de viagens Jornada. Eles oferecem um serviço personalizado e de alta qualidade que excedeu minhas expectativas em minha última viagem."
      nome="Talita Magalhães"
    >
    </app-card-depoimentos>
    <app-card-depoimentos
      imagem="../../assets/imagens/avatar3.png"
      depoimento="Minha viagem com a Jornada foi incrível! Recomendo muito a agência para quem busca uma experiência emocionante e personalizada a partir das nossas necessidades."
      nome="Mariana Faustino"
    >
    </app-card-depoimentos>
  </div>
</app-container>
