h2 {
  font-size: 32px;
  margin-bottom: 32px;
}

.card-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 16px;
  margin-bottom: 40px;
}

@media (max-width: 1110px) {
  h2 {
    text-align: center;
  }
  
  .card-wrapper {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 988px) {
  h2 {
    text-align: center;
  }
}

@media (max-width: 728px) {
  .card-wrapper {
    grid-template-columns: 1fr;
  }
}
