<footer>
  <img src="assets/imagens/banner-homepage-rodape.png" alt="Banner do footer da aplicação Jornada">
  <app-container>
    <div class="footer-container">
      <div class="footer-left">
        <img src="assets/imagens/logo-com-tagline.png" alt="Logo com tagline do footer">
        <div class="info">
          <p>Horário de atendimento: 08h - 20h (Segunda a Sábado)</p>
          <p>Desenvolvido por Alura. Projeto fictício sem fins comerciais.</p>
        </div>
      </div>
      <div class="footer-right">
        <p>Acesse nossas redes:</p>
        <div class="redes">
          <a href="#">
            <img src="assets/icones/whatsapp.png" alt="Icone whatsapp">
          </a>
          <a href="#">
            <img src="assets/icones/instagram.png" alt="Icone instagram">
          </a>
          <a href="#">
            <img src="assets/icones/twitter.png" alt="Icone twitter">
          </a>
        </div>
      </div>
    </div>
  </app-container>
</footer>
