footer {
  display: flex;
  flex-direction: column;
  background: #1D1B20;
  color: #FFF;

  .footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 0;

    p {
      margin: 0;
    }

    .footer-left {
      display: flex;
      flex-direction: column;
      gap: 16px;

      img {
        width: 160px;
      }

      .info {
        display: flex;
        flex-direction: column;
        gap: 8px;
      }
    }

    .footer-right {
      display: flex;
      flex-direction: column;
      gap: 16px;

      .redes {
        display: flex;
        justify-content: space-evenly;
      }
    }
  }
}
